<div style="width: 100%;float: left;padding:15px 0px; border-bottom:1px solid #DDDDDD;">
<div style="width: 20%;float: left;margin-right:10px;"><img src="{{avatar_url}}" alt="{{name}}" class= 'img-circle'>
    <span style="float: right;word-wrap: break-word;width: 74%;margin-top: 16px;">{{short_name}}</span></div>
<div style="width: 50%;float: left;">
<div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar"
     aria-valuemin="0" aria-valuemax="100" aria-valuenow="37" style="border-radius: 25px;padding: 5px;
height: 20px; margin-top: 8px;">
    <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: {{progression}} ;border-radius: 25px;height: 20px;"></div>
</div>
</div>
<div style="width: 20%;float: left;margin: 0px 4%;">
{{#each badges}}
<div style="width: 25%;float: left;">
    <img src="{{this.badge_url}}" width="42" height="42"  title="{{this.badge_description}}" data-tooltip>
    <div style="position: absolute;color: #fff;font-weight:bolder;float:left;text-align:center;margin-top: -30px;margin-left: 17px;">{{this.badge_count}}</div>
</div>
{{/each}}

</div>
</div>
