<td nowrap="nowrap"
      class="course_pricings_item" data-id="{{id}}">{{ENV.course_name}}</td>
<td>{{price}}</td>
<td>{{start_at}}</td>
<td>{{end_at}}</td>
<td class="links text-right" nowrap="nowrap">
  <a href="#"
     class="edit_course_pricings_link"
     title="Edit Tool"
     data-edit-course_pricings={{id}}
      ><i class="icon-edit btn"></i></a>
  <a href="#"
     class="delete_course_pricings_link"
     title="Delete Course Price"
     data-delete-course_pricings={{id}}
      ><i class="icon-trash btn"></i></a>
</td>
