<li style="display: inline-block;">
  <a
      href="#"
      class="thumbnail"
      title="{{title}}"
      style="width:175px;"
      video_id="{{hashed_id}}"
      >
      {{title}}
    <img id={{hashed_id}} src="{{thumb}}" alt="{{title}}" width="175" height="85"/>
  </a>
</li>
