<td nowrap="nowrap"
  class="live_class_link"
  data-id="{{id}}">{{name}}</td>
  <td nowrap="nowrap">{{link_url}}</td>
<td class="links text-right" nowrap="nowrap">
  <a href="#"
     class="edit_live_class_link"
     title="Edit Live Class"
     data-edit-live-class-link={{id}}
      ><i class="icon-edit btn"></i></a>
  <a href="#"
     class="delete_live_class_link"
     title="Delete Live Class"
     data-delete-live-class-link={{id}}
      ><i class="icon-trash btn"></i></a>
</td>
