<td nowrap="nowrap"
      class="reward" data-id="{{id}}">{{type}}</td>
<td>{{name}}</td>
<td>{{email}}</td>
<td>{{provider}}</td>
<td>{{context_name}}</td>
<td>{{reward_name}}</td>
<td>{{reward_description}}</td>
<td>{{expiry_date}}</td>
<td>{{coupon_code}}</td>
<td class="links text-right" nowrap="nowrap">
    <a href="#"
       class="edit_reward_link"
       title="Edit Tool"
       data-edit-reward={{id}}
            ><i class="icon-edit btn"></i></a>
</td>




