<td>{{reward_name}}</td>
<td>{{alpha_mask}}</td>
<td>{{referrar_percentage}}</td>
<td>{{referree_percentage}}</td>
<td>{{expiry_date}}</td>
<td>{{referrer_expiry_date}}</td>
<td>{{referree_expiry_date}}</td>
<td>{{how_many}}</td>
<td></td>


