<td>{{reward_name}}</td>
<td>{{alpha_mask}}</td>
<td>{{referrar_amount}}</td>
<td>{{referrer_percentage}}</td>
<td>{{referree_amount}}</td>
<td>{{referree_percentage}}</td>
<td>{{referrar_expiry_date}}</td>
<td>{{referree_expiry_date}}</td>
<td>{{how_many}}</td>


