<%= javascript_include_tag('favourite_course') %>
<li class="customListItem"  data-id="<%= menu_course[:id] %>">

  <a href="<%= menu_course[:href] %>">
    <span class="name ellipsis" title="<%= menu_course[:longName] %>"><%= menu_course[:shortName] %></span>
    <% if defined? menu_course[:term] %>
      <span class="subtitle ellipsis enrollment_term menu-item-drop-float-right"><%= menu_course[:term] %></span>
    <% end %>
    <span class="subtitle ellipsis"><%= menu_course[:subtitle] %></span>
  </a>
  <div style="float: left">
  <img alt="Star-off" style ="margin-left: 250px;position:relative;z-index: 1;margin-top: -30px;" class="star" id="star-image<%= menu_course[:id] %>" onclick="changeImage(event,<%=menu_course[:id]%>, <%=@current_user.id%>,<%= @current_pseudonym.id %>)" src= <%=  @current_pseudonym.settings[:favourite_course_id].to_i == menu_course[:id] ? "/images/messages/star-lit.png" : "/images/messages/star.png" %>  />
  </div>
</li>
