{{#if popular_course}}
    <div class="span3 content-box resource" style="float: left;height: 410px;width: 322px;" id="is_a_popular_course" data-id="{{popular_id}}">
        <div class="ribbon-wrapper">
            <div class="ribbon-wrapper-green"><div class="ribbon-green">Popular</div></div>
        </div>
{{else}}
    <div class="span3 content-box resource" style="float: left;height: 410px;width: 322px;" id="is_not_a_popular_course" >
{{/if}}
{{#if has_course_image}}
    <div class="type-tag-positioner" style="background-image: url('{{course_background_image}}');;background-size: cover;">
        <img alt="Course_image" class="course-badge img-circle" src="{{course_image}}" style="padding:5px;">
{{else}}
    <div class="type-tag-positioner" style="">
{{/if}}
{{#each course_topic_details}}
    {{#if has_topic}}
            <div class="type ribbon1" style="background-color: {{topic_color}};">
                <span>{{topic_name}}</span>
            </div>
    {{else}}
            <div class="type ribbon1" style="background-color: #228b22">
                <span>others</span>
            </div>
    {{/if}}
{{/each}}
</div>
    <div class="details" data-id="{{id}}" id="{{id}}" style="padding: 13.5em 18px 2em 15px;color: #005580">
        <h2>
            {{course_name}}
        </h2>
        <table style="margin-top: 23px;color:#0F0D0D;;font-weight: 100;">
            <tr>
                {{#if show_course_price}}
                    <td>
                        <img src="/images/icon-price.jpg" style="width:16px;height:16px;padding-left:22px;padding-right: 30px;">
                    </td>
                    <td>
                        {{course_price}}
                    </td>
                {{else}}
                    <td style="padding-left:14px;padding-right: 15px;">
                        Free
                    </td>
                {{/if}}
                {{#if course_modules}}
                    <td style="padding-left: 14px;">
                        <a class="icon-module"></a>
                    </td>
                    <td>
                        {{course_modules}}
                    </td>
                {{/if}}
                {{#if users_count}}
                    <td style="padding-left: 30px;">
                        <a class="icon-user"></a>
                    </td>
                    <td style="padding-left:2px">
                        {{users_count}}
                        <span
                            data-tooltip title="Course has {{users_count}} users">
                        </span>
                    </td>
                {{/if}}
                {{#if tags_count}}
                    <td style="padding-left: 32px;">
                        <a class="icon-tag"></a>
                    </td>
                    <td style="padding-left: 2px">
                        {{tags_count}}
                    </td>
                {{/if}}
            </tr>
        </table>
        <ul class="tags" style="list-style-type: none;">
            {{#each course_tags}}
                <li>
                    <a href="#"><b>{{tag_name}}</b>
                        <span>{{each_tag_count}}</span>
                    </a>

                </li>
            {{/each}}

        </ul>
        <p class="desc" style="height:42px">
            {{{ truncate course_short_decription 85 }}}
        </p>
        <hr>
        <div class="author_slider_index_view" style="width:229px;height:67px;margin-top: -1px;left: 15px;position:relative;margin-bottom: -11px">
            <a title="" href="#" class="prev" style="margin-top: 2px;margin-left: -34px;"></a>
            <div class="slides" style="width:229px;height:46px;margin-top: -35px;overflow: hidden;position: relative;float:left;text-align: center;text-indent: 10px;">
                {{#each profile_data }}
                    {{#if teacher_desc}}
                        <div class="items" style="width:229px;height:67px">
                            <img src="{{teacher_image}}" style="width: 35px;margin-left: -51px;">
                            {{{ truncate teacher_desc 20 }}}
                        </div>
                    {{/if}}
                {{/each}}
            </div>
            <a title="" href="#" class="next" style="margin-top: -48px;margin-left:228px"></a>
        </div>
    </div>
</div>
</div>
</div>