{{#if popular_course}}
    <div class="span3 content-box resource" style="float:right;width: 310px;margin:13px;right:-10px;" id="is_a_popular_course" data-id="{{id}}">
        <div class="ribbon-wrapper">
            <div class="ribbon-wrapper-green">
                <div class="ribbon-green">Popular</div>
            </div>
        </div>
{{else}}
    <div class="span3 content-box resource" style="float:right;width: 310px;margin:13px;right:-10px;" id="is_not_a_popular_course" data-id="{{id}}">
        <div class="ribbon-wrapper" style="display: none;">
            <div class="ribbon-wrapper-green">
                <div class="ribbon-green">Popular</div>
            </div>
        </div>
{{/if}}
{{#if has_course_image}}
    <div class="type-tag-positioner" style="background-image: url('{{course_background_image}}');background-size: cover;text-align: start;">
        <img alt="Course_image" class="course-badge img-circle" src="{{course_image}}" style="padding:5px;">
{{else}}
    <div class="type-tag-positioner" style="">
{{/if}}
{{#each course_topic_details}}
    {{#if has_topic}}
            <div class="type ribbon1" style="background-color: {{topic_color}};">
                <span>{{topic_name}}</span>
            </div>
    {{else}}
            <div class="type ribbon1" style="background-color: #228b22">
                <span>others</span>
            </div>
    {{/if}}
{{/each}}
</div>
    <div class="details" data-id="{{id}}" id="{{id}}" style="text-align: left;padding: 12em 18px 2em 15px;">
        <h2 style="font-weight: bold;font-size: 1.35em;line-height: 1.35em;">
            {{course_name}}
        </h2>
        <table style="margin-top: 23px;color:#0F0D0D;;font-weight: 100;">
            <tr>
                {{#each course_price}}
                    {{#if show_price}}
                        <td>
                            <img src="/images/icon-price.jpg" style="width:16px;height:16px;padding-left:22px;">
                        </td>
                        <td>
                            {{course_price}}
                        </td>
                    {{else}}
                        <td style="padding-left:14px;padding-right: 15px;">
                            Free
                        </td>
                    {{/if}}
                {{/each}}
                {{#if course_modules}}
                    <td style="padding-left: 14px;">
                        <a class="icon-module"></a>
                    </td>
                    <td>
                        {{course_modules}}
                    </td>
                {{/if}}
                {{#if users_count}}
                    <td style="padding-left: 30px;">
                        <a class="icon-user"></a>
                    </td>
                    <td style="padding-left:2px">
                        {{users_count}}
                        <span
                                data-tooltip title="Course has {{users_count}} users">
                </span>
                    </td>
                {{/if}}
                {{#if tags_count}}
                    <td style="padding-left: 32px;">
                        <a class="icon-tag"></a>
                    </td>
                    <td style="padding-left: 2px">
                        {{tags_count}}
                    </td>
                {{/if}}
            </tr>
        </table>
        {{#if course_tags}}
            <hr style="margin: 6px 0px"> </hr>
            <span class="text_display">Course Tagged with</span>
            <ul class="tags" style="list-style-type: none;margin-top: -8px;">
                {{#each course_tags}}
                    <li>
                        <a href="#"><b>{{tag_name}}</b>
                            <span>{{each_tag_count}}</span>
                        </a>

                    </li>
                {{/each}}
            </ul>
        {{/if}}
        {{#if course_short_decription}}
            <p class="desc course_desc" style="margin-left: -15px;margin-top: 3px;float:left;font-size: 12px;width: 100%;">
                {{{ truncate course_short_decription 100 }}}
            </p>
        {{/if}}
      {{#if has_teacher}}
          <div class="author_slider_index_pop_up_view">
              <div class="slides_popup">
                  {{#each profile_data }}
                      <a style="text-decoration: none" href="#" id="{{teacher_id}}">
                          <div class="pop_up_items" id="{{teacher_id}}">
                              <div class="popu_up_teacher_image"><img src={{teacher_image}}></div>
                          {{#if teacher_desc}}
                              <p class="popup_teacher_name" id="{{teacher_id}}">{{teacher_name}}</p>
                              <p class="popup_teacher_desc">{{{ truncate teacher_desc 130 }}}</p>
                          {{else}}
                              <p class="poup_teacher_name_without_desc" id="{{teacher_id}}">{{teacher_name}}</p>
                          {{/if}}
                          </div>
                      </a>
                  {{/each}}
              </div>

          </div>
      {{/if}}
    </div>
</div>
</div>
</div>