{{#unless show_only_six_courses}}
<div class="span3 content-box resource" style=" float: left;width: 322px;left: 41px;">
    <div id = "popular_course_on_index_page">
    {{#if has_course_image}}
    <div class="type-tag-positioner" style="background-image: url('{{course_background_image}}');background-size: cover;">
        <img alt="Course_image" class="course-badge img-circle" src="{{course_image}}" style="padding:5px;">
    {{else}}
    <div class="type-tag-positioner" style="">
    {{/if}}
    {{#each course_topic_details}}
        {{#if has_topic}}
            <div class="type ribbon1" style="background-color: {{topic_color}};">
                <span>{{topic_name}}</span>
            </div>
         {{else}}
            <div class="type ribbon1" style="background-color: #228b22;">
                <span>others</span>
            </div>
         {{/if}}
    {{/each}}
    </div>
    <div class="details course_name_div" data-id="{{id}}" id="{{id}}">
    <h2 class="course_name">
        {{course_name}}
    </h2>
    <table class="table_align">
    <tr>
     {{#each course_price}}
      {{#if show_price}}
        <td>
            <img src="/images/icon-price.jpg" class="price_image">
        </td>
        <td>
            {{course_price.price}}
        </td>
      {{else}}
        <td class="free">
            Free
        </td>
      {{/if}}
     {{/each}}
        {{#if course_modules}}
          <td class="course_mod">
            <a class="icon-module"></a>
          </td>
          <td>
            {{course_modules}}
          </td>
        {{/if}}
        {{#if users_count}}
            <td class="user_display">
                <a class="icon-user"></a>
            </td>
            <td class="user_count">
                {{users_count}}
            </td>
        {{/if}}
        {{#if tags_count}}
            <td class="tag_icon">
                <a class="icon-tag"></a>
            </td>
            <td class="tag_display">
                {{tags_count}}
            </td>
        {{/if}}
    </tr>
    </table>
    {{#if course_tags}}
        <hr style="margin: 6px 0px"> </hr>
        <span class="text_display">Course Tagged with</span>
    <ul class="tags" style="list-style-type: none;margin-top: -8px;">
        {{#each course_tags}}
            <li>
                <a href="#"><b>{{tag_name}}</b>
                    <span>{{each_tag_count}}</span>
                </a>

            </li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if course_short_decription}}
     <p class="desc course_desc" style="  margin-top: 3px;float:left;font-size: 12px;margin-left: -15px;">
         {{{ truncate course_short_decription 100 }}}
     </p>
     {{/if}}
    {{#if has_teacher}}
    <div class="author_slider_index_view">
            <div class="index_view_slides">
        {{#each profile_data }}
            {{#if teacher_desc}}
                   <div class="items">
                       <div class="teacher_image" ><img src={{teacher_image}}></div>
                       <p class="teacher_name">{{teacher_name}}</p>
                        <span class="teacher_desc">{{{ truncate teacher_desc 80 }}}</span>
                   </div>
            {{/if}}
        {{/each}}
    </div>
    </div>
    {{/if}}
</div>
</div>
   </div>
</div>
{{/unless}}
