<%
   editable ||= can_do(@context, @current_user, :manage_grades) || can_do(@context, @current_user, :manage_content)
   workflow_state = context_module && context_module.workflow_state
   @modules ||= []
%>
<% cache_if_module(context_module, editable ,false,@context.feature_enabled?(:flipped_classes)) do %>

    <div class="context_module bordered <%= 'unpublished_module' if workflow_state == "unpublished" %> <%= 'editable_context_module' if editable %>" tabindex="0" aria-label="<%= context_module ? context_module.name : "" %>" data-workflow-state="<%= context_module ? context_module.workflow_state : "{{ workflow_state }}"%>" data-module-url="<%= context_url(@context, :context_url) %>/modules/<%= context_module ? context_module.id : "{{ id }}" %>" data-module-id="<%= context_module ? context_module.id : "{{ id }}" %>" id="context_module_<%= context_module ? context_module.id : "blank" %>" style="<%= hidden unless context_module %>">
      <a name="module_<%= context_module.id if context_module %>"></a>
      <div class="header context-module-header clearfix">

        <div class="context-module-left-toolbar">
          <span class="reorder_module_link" title="<%= t('reorder_modules', %{Drag to reorder modules}) %>" style="cursor: move;"><%= image_tag "move.png", :alt => t('reorder_modules', 'Drag to reorder modules') %></span>

          <span class="name"> <%= context_module.try_rescue(:name) || nbsp %></span>

        </div>

          <span class="id" style="display: none;"><%= context_module ? context_module.id : nbsp %></span>
      </div>

    </div>
<% end %>
